@use "./variable" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  padding: 8px;
  width: 100vw;
  height: 100vh;
  background-image: url("../asset/pexels-padrinan-19670.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  overflow-x: hidden;
  .todoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $subtopic;
    width: 100%;
    min-width: 40vw;
    max-height: 85vh;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    top: 5vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: rgba(0, 0, 0, 0.554);
      border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(170, 169, 169, 0.753);
      border-radius: 2px;
    }
    h1 {
      white-space: nowrap;
      color: $themeColor;
      font-size: clamp(2.5rem, calc(2.7rem + 2vw), 3.5rem);
      text-align: center;
      min-height: 74px;
    }
    .line {
      border: 2px solid $themeColor;
      width: 100%;
      margin: 1rem 0;
    }
    .CreateForm {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      min-height: 2.6rem;
      margin: 1.3rem 0;
      border: 2px solid $themeColor;
      border-radius: 2px;
      #inputText {
        font-size: 1.3rem;
        padding-left: 0.5rem;
        border: none;
        background: none;
        color: white;
        width: 80%;
        outline: none;
        &::placeholder {
          color: ($themeColor);
          text-align: center;
        }
      }
      #addBtn {
        border: none;
        background-color: black;
        font-weight: 900;
        color: $themeColor;
        cursor: pointer;
        width: 20%;
        height: 100%;
        border-left: 2px solid $themeColor;
      }
    }
    .TodoList {
      border: 2px solid $themeColor;
      background-color: $todoListColor;
      color: $themeColor;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 95%;
      // min-height: 1.8rem;
      height: auto;
      border-radius: 5px;
      margin: 0.5rem;
      .icons {
        display: flex;
        width: 74px;
        height: 100%;
        .list-Btn {
          border: none;
          margin: 0 8px;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
      p {
        width: 100%;
        height: auto;
        padding: 5px 0 5px 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        white-space: normal;
        word-wrap: break-word;
      }
      &.complet {
        opacity: 0.7;
        text-decoration-line: line-through;
        text-decoration-thickness: 5px;
        text-decoration-color: black;
      }
    }

    .edit-form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 92%;
      min-height: 2rem;
      margin: 1.2rem 0;
      border: 2px solid $third_theme;
      border-radius: 2px;
      #editText {
        font-size: 1.3rem;
        padding-left: 0.5rem;
        border: none;
        background: none;
        color: white;
        width: 80%;
        outline: none;
      }
      #editBtn {
        border: none;
        background-color: $subtopic;
        color: $third_theme;
        border-left: 2px solid $third_theme;
        cursor: pointer;
        width: 20%;
        height: 100%;
      }
    }
    @media (max-width: 370px) {
      padding: 0.8rem;
    }
    @media (max-width: 280px) {
      padding: 0.6rem;
    }
    @media (max-width: 240px) {
      padding: 0.6rem;
      transform: scale(0.9);
    }
  }
}
