@use "./variable" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  padding: 8px;
  width: 100vw;
  height: 100vh;
  background-image: url("../asset/pexels-padrinan-19670.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $themeColor;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  .todoWrapper {
    min-width: 35vw;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 5px;
    position: relative;
    top: 5vh;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: rgba(0, 0, 0, 0.554);
      border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(170, 169, 169, 0.753);
      border-radius: 2px;
    }
    h1 {
      color: $themeColor;
      font-size: clamp(2rem, calc(2rem + 2vw), 3rem);
      text-align: center;
      flex-shrink: 0;
    }
    .line {
      border: 2px solid $themeColor;
      width: 100%;
      margin: 0.8rem 0;
    }
    .CreateForm {
      width: 90%;
      min-height: 2.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      border: 2px solid $themeColor;
      border-radius: 2px;
      #inputText {
        font-size: 1.3rem;
        padding: 0.4rem;
        border: none;
        background: none;
        color: white;
        width: 80%;
        outline: none;
        &::placeholder {
          color: ($themeColor);
          text-align: center;
          opacity: 0.6;
        }
      }
      #addBtn {
        min-height: 2.3rem;
        border: none;
        background-color: inherit;
        font-weight: 900;
        color: $themeColor;
        cursor: pointer;
        width: 20%;
        height: 100%;
        border-left: 2px solid $themeColor;
      }
    }
    @media (max-width: 370px) {
      padding: 0.8rem;
    }
    @media (max-width: 280px) {
      padding: 0.6rem;
    }
    @media (max-width: 240px) {
      padding: 0.6rem;
      transform: scale(0.9);
    }

    .todolist_group {
      overflow-y: auto;
      width: 95%;
      .TodoList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        margin: 0.5rem;
        border: 2px solid $themeColor;
        background-color: $todoListColor;
        color: $themeColor;
        height: auto;
        .todo_content {
          width: 83%;
          padding: 3px 0 3px 0.5rem;
          display: flex;
          align-items: center;
          input[type="checkbox"] {
            margin-right: 10px;
            transform: scale(1.2); /* 預設大小 */
            cursor: pointer;

            @media (max-width: 768px) {
              transform: scale(1); /* 縮小 checkbox */
              margin-right: 5px;
            }
            @media (max-width: 480px) {
              transform: scale(0.8); /* 更小的 checkbox */
              margin-right: 3px;
            }
          }
          p {
            font-size: calc(0.8rem + 0.7vw);
            position: relative;
            font-weight: 500;
            white-space: normal;
            word-wrap: break-word;
          }
        }
        .icons {
          display: flex;
          width: 74px;
          height: auto;
          .list-Btn {
            border: none;
            margin: 0 8px;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
        }
        &.complet {
          opacity: 0.6;
        }
      }
      &::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(0, 0, 0, 0.554);
        border-radius: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(170, 169, 169, 0.753);
        border-radius: 2px;
      }
      .edit-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 83%;
        // min-height: 2rem;
        margin: 1.2rem auto;
        border: 2px solid $third_theme;
        border-radius: 5px;
        #editText {
          font-size: calc(0.5rem + 0.8vw);
          padding: 10px 10px 10px 0.5rem;
          border: none;
          background: none;
          color: white;
          width: 80%;
          outline: none;
        }
        #editBtn {
          border: none;
          background-color: inherit;
          color: $third_theme;
          border-left: 2px solid $third_theme;
          cursor: pointer;
          width: 20%;
          height: 100%;
        }
      }
    }
  }
}
